@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
